<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<GeoIpResponseParser type="CES.GeoIP.Parser.CustomGeoIpResponseParser,CES.GeoIP" singleInstance="true" patch:instead="*[@type='Sitecore.CES.GeoIp.GeoIpResponseParser, Sitecore.CES.GeoIp']" />
		<GeoIpConnector type="Sitecore.CES.Client.ResourceConnector`1[[CES.GeoIP.Models.CustomWhoIsInformation, CES.GeoIP]], Sitecore.CES" singleInstance="true" patch:instead="*[@type='Sitecore.CES.Client.ResourceConnector`1[[Sitecore.CES.GeoIp.Core.Model.WhoIsInformation, Sitecore.CES.GeoIp.Core]], Sitecore.CES']">
			<param ref="GeoIpWebClient"/>
			<param ref="GeoIpResponseParser"/>
			<param name="ResourcePath">/lookup/geoip/{0}</param>
		</GeoIpConnector>
		<pipelines>
			<ces.geoIp.parseResponse>
				<processor type="Sitecore.CES.Pipelines.ParseResponse.ReadJsonResponse`1[[CES.GeoIP.Models.CustomWhoIsInformation,CES.GeoIP]], Sitecore.CES" patch:instead="*[@type='Sitecore.CES.Pipelines.ParseResponse.ReadJsonResponse`1[[Sitecore.CES.GeoIp.Core.Model.WhoIsInformation, Sitecore.CES.GeoIp.Core]], Sitecore.CES']"/>
				<processor type="CES.GeoIP.Pipelines.CustomMapGeoIpResponse,CES.GeoIP" patch:instead="*[@type='Sitecore.CES.GeoIp.Pipelines.ParseResponse.MapGeoIpResponse, Sitecore.CES.GeoIp']" />
			</ces.geoIp.parseResponse>
		</pipelines>
		<services>
			<configurator type="CES.GeoIP.Pipelines.RegDependencies, CES.GeoIP" />
		</services>
		<customlookupManager defaultProvider="default">
			<providers>
				<add name="default" type="CES.GeoIP.Provider.CustomSitecoreProvider,CES.GeoIP">
					<param name="geoIpConnector" ref="GeoIpConnector"/>
				</add>
			</providers>
		</customlookupManager>
	</sitecore>
</configuration>